<ion-content>
  <ion-grid>
    <div class="logo-area">
      <ion-row class="knoldus-logo">
        <ion-col size="12" size-sm>
          <ion-img alt="Knoldus Logo" src="./assets/logo.png"></ion-img>
        </ion-col>
      </ion-row>
    </div>
    <div class="login-text-area">
      <ion-row class="login-text-row">
        <ion-col size="12" size-sm>
          <ion-text>Wallet</ion-text>
        </ion-col>
      </ion-row>
    </div>
    <div class="dashboard-area">
      <ion-row>
        <ion-col class="ion-padding-vertical" size="18" size-sm>
          <ion-card>
            <ion-item  class="ion-text-center">

              <ion-label><ion-icon name="logo-usd"></ion-icon>1000</ion-label>
            </ion-item>

          </ion-card>
        </ion-col>

      </ion-row>
      <ion-row class="login-button-row">
        <ion-col class="ion-padding-vertical" size="12" size-sm
                 style="background: #0096FA; overflow: hidden; border-radius: 20px; padding: 0; font-size: 14px;">
          <ion-button color="blue" expand="block" shape="round">Transaction</ion-button>
        </ion-col>

      </ion-row>
    </div>
  </ion-grid>
</ion-content>
