ion-content {
  background: #cecece;

  ion-grid {
    height: 100%;
    display: block;
    vertical-align: middle;

    .logo-area {
      position: absolute;
      left: 0;
      top: 10%;
      width: 100%;

      ion-img {
        width: 13.9375em;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
      }

      ion-text {
        font-size: 0.875em;
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .form-area {
      position: absolute;
      top: 25%;
      width: 100%;
      padding: 0 4%;

      ion-row {
        margin-bottom: 2%;
      }

      ion-input[type=email] {
        --padding-start: 1em;
        --padding-end: 1em;
        --padding-top: 1em;
        --padding-bottom: 1em;
        --background: transparent;
        --color: rgba(0, 0, 0, 0.5);
        --placeholder-color: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 25px 25px 25px 25px;
        font-size: 0.875em;

        ion-icon {
          padding: 0 0 0 1.5em;
        }
      }

      ion-input[type=password] {
        --padding-start: 1em;
        --padding-end: 1em;
        --padding-top: 1em;
        --padding-bottom: 1em;
        --background: transparent;
        --color: rgba(0, 0, 0, 0.5);
        --placeholder-color: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 25px 25px 25px 25px;
        font-size: 0.875em;

        ion-icon {
          padding: 0 0 0 1.5em;
        }
      }

      .forgot-password-row {
        ion-text {
          float: right;

          a {
            color: rgba(0, 0, 0, 0.5);
            font-size: 0.8em;
            text-decoration: none;
          }
        }
      }

      ion-button[color="blue"] {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }
}

//For landscape orientation in devices---------------------------------------
@media only screen and (min-width: 568px) and (max-height: 420px) {
  ion-content {

    ion-grid {

      .logo-area {
        top: 10%;

        ion-img {
          width: 11em;
        }

        ion-text {
          font-size: 0.675em;
        }
      }

      .form-area {
        top: 40%;

        ion-row {
          margin-bottom: 0;
        }

        ion-button[color="blue"] {
          --padding-top: 1.6em;
          --padding-bottom: 1.6em;
        }
      }
    }

  }
}
